<ion-content padding>
    <form [formGroup]="passwordRecoveryForm" (ngSubmit)="sendForm()">
        <ion-grid>
            <ion-row>
                <ion-col width-100>
                    <ion-item>
                        <ion-label color="primary" stacked>Correo electrónico</ion-label>
                        <ion-input  type="text" 
                                    formControlName="email"
                                    clearInput>
                        </ion-input>
                    </ion-item>
                    <div *ngIf="passwordRecoveryForm.controls.email.hasError('required') 
                        && passwordRecoveryForm.controls.email.touched" class="alert alert-danger">
                        Requerido.
                    </div>
                    <div *ngIf="passwordRecoveryForm.controls.email.hasError('pattern') 
                        && passwordRecoveryForm.controls.email.touched" class="alert alert-danger">
                        Email inválido.
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-100>
                    <button ion-button  
                            type="submit" 
                            outline
                            round>
                        Restablecer
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50>
                    <button ion-button clear item-right 
                            [navPush]="loginComponent">Volver</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>

